body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

div {
  border: 1px;
  border-color: red;
  border-style: solid;
}

.container {
  display: flex;
  height: 100vh;
}

.visuals {
  flex-grow: 1.3;
  position: relative;
  background-image: url(./imgs/background.jpg);
  background-position: center;
  background-size: cover;
}

.logo {
  position: absolute;
  width: 100%;
  top: 20%
}

.content {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.header,
.sign-up,
.bottom {
  flex: auto;
}