@font-face {
  font-family: 'pacifico';
  src: url(./fonts/Pacifico-Regular.ttf);
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.visuals {
  position: relative;
  background-image: url(./imgs/background.jpg);
  background-position: center;
  background-size: cover;
  width: 40vw;
}

.logo {
  position: absolute;
  width: 100%;
  top: 27%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 200px;
  width: 200px;
  margin-left: -3rem;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.logo-text {
  font-family: 'pacifico';
  font-size: 5rem;
  margin-left: -2rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.header,
.sign-up,
.bottom {
  flex: auto;
}

.header,
.bottom {
  background-color: rgb(250, 250, 250);
}

.sign-up {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
}

span {
  color: #d86e46;
}